.fanContainer{
    height: 20vw;
    width: 20vw;
    margin-left: 25vw;
    border-radius: 50%;
    transform: translateY(-50%);
    background: rgba(255, 255, 255, 0.8);
}
#fan, #stoppedFan{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 80%;
    width: 80%;
    margin: -40% 0 0 -40%;
    border: 5px solid transparent;
    border-top-color: var(--gray);
    border-bottom-color: var(--gray);
    border-radius: 50%;
}

#fan:after, #stoppedFan:after{
    content: "";
    position: absolute;
    top: 5px;
    right: 5px;
    bottom: 5px;
    left: 5px;
    border: 5px solid transparent;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.25);
}
#stoppedFan:after{
    border-top: 5px solid var(--gray);
    border-bottom: 5px solid var(--gray);
}

#fan {
    -webkit-animation: fan 1s linear infinite;
            animation: fan 1s linear infinite;
  }
  
  #fan:after {
    -webkit-animation: fan_after 1s linear infinite;
            animation: fan_after 1s linear infinite;
  }
  
  @keyframes fan {
    0% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    50% {
      -webkit-transform: rotate(180deg);
              transform: rotate(180deg);
      -webkit-transform: rotate(180deg);
              transform: rotate(180deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  @keyframes fan_after {
    0% {
      border-top: 5px solid var(--gray);
      border-bottom: 5px solid var(--gray);
    }
    50% {
      border-top: 5px solid black;
      border-bottom: 5px solid black;
    }
    100% {
      border-top: 5px solid var(--gray);
      border-bottom: 5px solid var(--gray);
    }
  }
  @-webkit-keyframes fan {
    0% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    50% {
      -webkit-transform: rotate(180deg);
              transform: rotate(180deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  @-webkit-keyframes fan_after {
    0% {
      border-top: 5px solid var(--gray);
      border-bottom: 5px solid var(--gray);
    }
    50% {
      border-top: 5px solid rgba(0, 0, 0, 0.25);
      border-bottom: 5px solid rgba(0, 0, 0, 0.25);
    }
    100% {
      border-top: 5px solid var(--gray);
      border-bottom: 5px solid var(--gray);
    }
  }


  /*=======================
=======RESPONSIVE========
=======================*/

@media only screen and (min-width: 540px){
  .fanContainer{
    margin-left: 15.5vw;
    width: 9vw;
    height: 9vw;
  }
}
@media only screen and (min-width: 768px){
  .fanContainer{
    margin-left: 10.5vw;
    width: 9vw;
    height: 9vw;
  }
}

@media only screen and (min-width: 900px){
  .fanContainer{
    width: 4vw;
    height: 4vw;
    margin-left: 8vw;
  }
}
@media only screen and (min-width: 1920px){
  .fanContainer{
    width: 4vw;
    height: 4vw;
    margin-left: 5.5vw;
  }
}