.switch
{
    position: relative;
    width: 30%;
    height: 90%;
    margin: 0;
    border-radius: 40px;
    display: flex;
    align-items: center;
}

input[type="checkbox"]
{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: 0px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
}
#cardSwitch span
{
    display: flex;
    align-items: center;
    width: 90%;
    height: 70%;
    background-color: #c7c7c7;
    border-radius: 2em;
    transition: 0.5s ease background-color;
}

#cardSwitch span:before
{
    content: '';
    top: 0;
    width: 40%;
    height: 100%;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 2px 6px 25px #d7d7d7;
    transform: translate(0px,0px);
    transition: 0.6s ease transform, 0.6s box-shadow;
}



#cardSwitch input[type="checkbox"]:checked + span:before
{
    box-shadow: 7px 6px 25px #e6e6e6;
    transform: translate(150%,0px);
}

#cardSwitch input[type="checkbox"]:checked + span
{
    background-color: var(--gray);
}