.detailsContainer{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: var(--soft2);
    transition: all .3s;
    z-index: 100;
    -webkit-box-shadow: 0px 0px 15px -4px rgba(39,102,120,1);
    -moz-box-shadow:    0px 0px 15px -4px rgba(39,102,120,1);
    box-shadow:         0px 0px 15px -4px rgba(39,102,120,1);
}
.detailsClosed{
    transform: translateX(110vw);
}
.closeDetails{
    font-weight: 300;
    font-size: 2em;
    padding: 3vw;
    cursor: pointer;
}
.detailsContent{
    width: 80vw;
    height: 80vh;
    position: absolute;
    top: 10vh;
    left: 10vw;
    display: flex;
    flex-direction: column;
    align-items: center
}
.detailsContent h1{
    font-weight: 300;
}
.detailsForm{
    width: 100%;
    height: 90%;
    margin-top: 10%;
    border-radius: 1.5em;
    -webkit-box-shadow: 0px 0px 17px -4px rgba(39,102,120,1);
    -moz-box-shadow:    0px 0px 17px -4px rgba(39,102,120,1);
    box-shadow:         0px 0px 17px -4px rgba(39,102,120,1);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-top: 5vh;
    padding-bottom: 3vh;
    padding-left: 5vw;
    padding-right: 5vw;
}
.detailsPanel{
    width: 100%;
    height: 90%;
    margin-top: 10%;
    border-radius: 1.5em;
    -webkit-box-shadow: 0px 0px 17px -4px rgba(39,102,120,1);
    -moz-box-shadow:    0px 0px 17px -4px rgba(39,102,120,1);
    box-shadow:         0px 0px 17px -4px rgba(39,102,120,1);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    padding-top: 0vh;
    padding-bottom: 3vh;
    padding-left: 5vw;
    padding-right: 5vw;
}
.detailsPanel h1{
    padding-bottom: 3vh;
}
.inputContainer{
    display: flex;
    flex-direction: column;
    justify-content: left;
}
.inputContainer label{
    font-size: 1.2em;
    font-weight: 300;
}
.inputContainer input{
    border: none;
    outline: none;
    background-color: rgba(185, 202, 219, 0.61);
    border-bottom: 1px solid black;
    line-height: 2em;
    font-size: 1.1em;
    font-weight: 300;
    padding-left: 4vw;
}
.inputContainer div{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 100%;
    background-color: black;
    color: white;
    border-radius: 1em;
}
.detailContainer div{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 100%;
    padding-left: 7vw;
    padding-right: 7vw;
    background-color: black;
    color: white;
    border-radius: 1em;
}
.inputContainer div:hover, .detailContainer div:hover{
    background-color: grey;
}


/*==============================
===========RESPONSIVE===========
==============================*/

@media only screen and (min-width: 1280px){
    .detailsContent{
        width: 60vw;
        left: 20vw;
    }
    .inputContainer input{
        padding-left: 1vw;
    }
}

@media only screen and (min-width: 1920px){
    .detailsContent{
        width: 50vw;
        left: 25vw;
    }
}