.Main{
    background-color: var(--bg);
    width: 100vw;
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding-bottom: 15vh;
    justify-content: center;
}
.cardsContainer{
    width: 80vw;
    margin-left: 15vw;
    margin-top: 8vh;
}

@media only screen and (min-width: 540px){
    .cardsContainer{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-left: 8vw;
        width: 90%;
    }
}
@media only screen and (min-width: 768px){
    .cardsContainer{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-left: 8vw;
        width: 80vw;
        margin-left: 15vw;
    }
}
@media only screen and (min-width: 900px){
    .cardsContainer{
        width: 90vw;
        margin-left: 6vw;
        grid-template-columns: repeat(4, 1fr);
    }
}