.card{
    width: 70vw;
    height: 60vh;
    margin-top: 10vh;
    border-radius: 2vh;
    -webkit-box-shadow: 0px 0px 17px -4px rgba(39,102,120,1);
    -moz-box-shadow:    0px 0px 17px -4px rgba(39,102,120,1);
    box-shadow:         0px 0px 17px -4px rgba(39,102,120,1);
    transition: all .2s;
}
.greenCard{
    background-color: var(--greenCard) !important;
}
.redCard{
    background-color: var(--redCard) !important;
}

.cargImgContainer{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.cargImgContainer img{
    height: 80%;
    transform: translateY(5%);
}

.cardPanel{
    width: 100%;
    height: 50%;
    background-color: var(--soft);
    border-radius: 2vh;
    color: var(--darkBlue);
    font-weight: bold;
}

.checksPanel{
    width: 80%;
    height: 60%;
    margin-left: 10%;
    transform: translateY(-20%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.checkContainer{
    opacity: 1;
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1.2em;
}

.siloID{
    position: absolute;
    height: 5vh;
    width: 5vh;
    background-color: var(--blue);
    border-radius: 2vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -5vh;
    transform: translateY(5vh);
}

.panelWithData{
    height: 70%;
    display: flex;
    flex-direction: column;
}
.cardDataContainer{
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 400;
    transform: translateY(-30%);
    justify-content: space-evenly;
}
.panelWithData .checksPanel{
    flex-direction: row;
    font-size: .8em;
    transform: translateY(0);
    height: 40%;
}

/*===============================
===========RESPONSIVE============
===============================*/

@media only screen and (min-width: 540px){
    .card{
        width: 40vw;
        height: 45vh;
    }
    .cardPanel{
        display: flex;
        flex-direction: column;
    }
}
@media only screen and (min-width: 768px){
    .card{
        width: 30vw;
        height: 30vh;
        min-height: 380px;
    }
}
@media only screen and (min-width: 900px){
    .card{
        width: 20vw;
        height: 30vh;
        min-height: 350px;
    }
    .siloID{
        height: 4vh;
        width: 4vh;
        font-size: 1.5em;
    }
    .cardDataContainer{
        height: 80%;
        transform: translateY(-10%);
        margin-bottom: 10%;
    }
}
@media only screen and (min-width: 1280px){
    .card{
        width: 20vw;
        height: 30vh;
        min-height: 350px;
    }
    .siloID{
        height: 6vh;
        width: 6vh;
        font-size: 1.2em;
    }
    .cardDataContainer{
        height: 40%;
        transform: translateY(-10%);
        margin-bottom: 10%;
    }
}
@media only screen and (min-width: 1920px){
    .card{
        width: 15vw;
        height: 30vh;
        min-height: 420px;
    }
}