.expanded{
    width: 90vw;
    height: 15vh;
    position: fixed;
    top: 0;
    right: 5vw;
    margin-top: 3vw;
    background-color: var(--solidSoft);
    border-radius: 1em;
    z-index: 99;
    -webkit-box-shadow: 0px 0px 10px -4px rgba(39,102,120,1);
    -moz-box-shadow:    0px 0px 10px -4px rgba(39,102,120,1);
    box-shadow:         0px 0px 10px -4px rgba(39,102,120,1);
    transition: all .2s;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center
}
.closed{
    position: fixed;
    background-color: var(--dark);
    width: 18vw;
    height: 18vw;
    border-radius: 9vw;
    top: 5vw;
    right: 5vw;
    -webkit-box-shadow: -1px 3px 10px 0px rgba(1,30,30,1);
    -moz-box-shadow:    -1px 3px 10px 0px rgba(1,30,30,1);
    box-shadow:         -1px 3px 10px 0px rgba(1,30,30,1);
    cursor: pointer;
    transition: all .2s;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99;
    overflow: hidden;
}
.tempIcon{
    transition: all .2s;
}
.info{
    width: 70vw;
    height: 70%;
    color: white;
    transition: all .2s;
    font-weight: bold;
    transition: all .2s;
}


/*COMPORTAMIENTO*/

.closed .info{
    transform: scale(0);
    opacity: 0;
    position: fixed;
}
.info .infoDate{
    padding-bottom: 1vh;
}
.expanded .tempIcon{
    padding-right: 10vw;
}


/*=======================
=======RESPONSIVE========
=======================*/

@media only screen and (min-width: 540px){
    .expanded{
        width: 80vw;
        right: 10vw;
        font-size: 1.2em;
        -webkit-box-shadow: 0px 0px 25px -4px rgba(39,102,120,1);
        -moz-box-shadow:    0px 0px 25px -4px rgba(39,102,120,1);
        box-shadow:         0px 0px 25px -4px rgba(39,102,120,1);
        cursor: default;
    }
    .expanded .tempIcon{
        padding-right: 10vw;
        padding-left: 5vw;
    }
}
@media only screen and (min-width: 1024px){
    .expanded{
        font-size: 1.9em;
    }
    .expanded .tempIcon{
        height: 3em;
        width: auto;
    }
}
@media only screen and (min-width: 900px){
    .expanded{
        width: 100vw;
        margin: 0;
        right: 0;
        border-radius: 0;
        font-size: 1.5em;
        min-height: 90px;
    }
    .expanded .tempIcon{
        padding: 0;
    }
    .info{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }
    .info .infoDate{
        padding-bottom: 0;
    }
}
@media only screen and (min-width: 1920px){
    .expanded{
        height: 10vh;
    }
}